*{
    font-family:'poppins',sans-serif;
}
body{
    display:flex;
    height:100vh;
    justify-content: center;
    align-items: center;
}
form1{
    background:linear-gradient(white,rgb(223,140,223));
    width:200%;
    padding: 20%;
    color:black;
}
.container{
    background:
    padding:px;
    max-width:600px;
    margin:15%
    box-shadow: 0 14px 10px;
}
.head{
    font-size:20px;
    text-align:center;
    padding-bottom:8px;
    border-bottom:3px solid rgb(231,180,223);
}
.content
{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding:25px 0;

}
.inputbox{
    display:flex;
    flex-wrap:wrap;
    width: 40%;
    padding-bottom: 10px;

}
.inputbox label,input{
    margin:5px;
    width:80%
    * {
        background-color: rgb(232, 238, 239);

    }

    .Reg{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        background-color: rgb(228, 235, 237);
    }
    header {
        display: flex;
        justify-content: left;
        margin-left: 230px;
        margin-top: 250px;
        font-size: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }


    .input{

        border: 1;
    }

    .btn{
        margin-top: 45px;
        margin-left: 5px;

        height: 35px;
        width: 100px;
        color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-radius: 7px;
        background-color: rgb(161, 158, 158);
        border: 0;
    }
    .btn:hover{
        background-color: grey;
    }
    #datebox{
        width: 165px;
        background-color: grey;
        border-radius: 5px;
        margin-left: 30px;
        border: 0;
    }
    .box{
        background-color: grey;
        * {
            background-color: rgb(232, 238, 239);

        }

        .Reg{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            background-color: rgb(228, 235, 237);
        }
        header {
            display: flex;
            justify-content: left;
            margin-left: 230px;
            margin-top: 250px;
            font-size: 30px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }


        .input{

            border: 1;
        }

        .btn{
            margin-top: 45px;
            margin-left: 5px;

            height: 35px;
            width: 100px;
            color: black;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            border-radius: 7px;
            background-color: rgb(161, 158, 158);
            border: 0;
        }
        .btn:hover{
            background-color: grey;
        }
        #datebox{
            width: 165px;
            background-color: grey;
            border-radius: 5px;
            margin-left: 30px;
            border: 0;
        }
        * {
            background-color: rgb(232, 238, 239);

        }

        .Reg{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            background-color: rgb(228, 235, 237);
        }
        header {
            display: flex;
            justify-content: left;
            margin-left: 230px;
            margin-top: 250px;
            font-size: 30px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }


        .input{

            border: 1;
        }

        .btn{
            margin-top: 45px;
            margin-left: 5px;

            height: 35px;
            width: 100px;
            color: black;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            border-radius: 7px;
            background-color: rgb(161, 158, 158);
            border: 0;
        }
        .btn:hover{
            background-color: grey;
        }
        #datebox{
            width: 165px;
            background-color: grey;
            border-radius: 5px;
            margin-left: 30px;
            border: 0;
        }
        .box{
            background-color: grey;
            margin-left: 30px;
            border: 0;

            border-radius: 5px;
        }

        .box{
            background-color: grey;
            margin-left: 30px;
            border: 0;

            border-radius: 5px;
        }

        margin-left: 30px;
        border: 0;

        border-radius: 5px;
    }

}
.inputbox:nth-child(2n){
    justify-content: end;
}
.button{
    padding-top:5px;
}
.inputbox input{
    outline:none;
    border-radius:5px;
    border:1px soid #ccc
}
.button button {
    padding:10px;
    justify-content: space-between;
    background-color: rgb(231,180,223);
}